/.gradle
/.idea
/build
/CustomerView.iml
/gradlew
/gradlew.bat
/columndragglelist/columndragglelist.iml
/copywps/copywps.iml
/layoutanimation/layoutanimation.iml
/layoutparams/layoutparams.iml
/library/library.iml
/local.properties
/refresh/refresh.iml
